<div class="well">
	<div class="row">
		<div class="col-sm-4">
			<label class="control-label" for="gifts-history-filter_order_id">{{ entry_order_number }}</label>
			<input type="text" name="filter_order_id" value="{{ filter_order_id }}" placeholder="{{ entry_order_number }}" id="gifts-history-filter_order_id" class="form-control" />
		</div>
		<div class="col-sm-4">
			<label class="control-label" for="gifts-history-filter_name">{{ entry_name }}</label>
			<input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="gifts-history-filter_name" class="form-control" />
		</div>
		<div class="col-sm-4">
			<label class="control-label" for="gifts-history-filter_customer">{{ entry_customer }}</label>
			<input type="text" name="filter_customer" value="{{ filter_customer }}" placeholder="{{ entry_customer }}" id="gifts-history-filter_customer" class="form-control" />
		</div>
	</div>
	<div class="row" style="padding-top: 15px;">
		<div class="col-sm-2 col-sm-offset-10">
			<button type="button" id="button-gifts-history-filter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> {{ button_filter }}</button>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<h3 class="panel-title pull-left" style="padding-top: 9px;"><i class="fa fa-list"></i> {{ text_gifts_history }}</h3>
		<div class="pull-right">
			<button type="button" title="{{ button_delete }}" class="btn btn-danger" data-toggle="tooltip" id="button-delete-gifts-history" onclick="confirm('{{ text_confirm }}') ? deleteData(this, 'giftHistory') : false;" disabled="disabled"><i class="fa fa-trash-o"></i></button>
		</div>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked).trigger('change');" /></td>
						<td class="text-center">
						{% if (sort == 'order_id') %} 
							<a href="{{ sort_order_id }}" class="{{ order|lower }}">{{ column_order_id }}</a>
						{% else %} 
							<a href="{{ sort_order_id }}">{{ column_order_id }}</a>
						{% endif %}	
						</td>
						<td class="text-center">
						{% if (sort == 'name') %} 
							<a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
						{% else %} 
							<a href="{{ sort_name }}">{{ column_name }}</a>
						{% endif %}	
						</td>
						<td class="text-center">
						{% if (sort == 'customer') %} 
							<a href="{{ sort_customer }}" class="{{ order|lower }}">{{ column_customer }}</a>
						{% else %} 
							<a href="{{ sort_customer }}">{{ column_customer }}</a>
						{% endif %} 
						</td>
						<td class="text-center">
						{% if (sort == 'total') %} 
							<a href="{{ sort_total }}" class="{{ order|lower }}">{{ column_total }}</a>
						{% else %} 
							<a href="{{ sort_total }}">{{ column_total }}</a>
						{% endif %} 
						</td>
						<td class="text-center">
						{% if (sort == 'datetime_added') %} 
							<a href="{{ sort_datetime_added }}" class="{{ order|lower }}">{{ column_datetime_added }}</a>
						{% else %} 
							<a href="{{ sort_datetime_added }}">{{ column_datetime_added }}</a>
						{% endif %} 
						</td>
						<td class="text-center">{{ column_action }} 
						</td>
					</tr>
				</thead>
				<tbody>
				{% if histories %} 
		    		{% for history in histories %} 
		    		{% if not history.status %} 
		    		<tr class="danger">
		    		{% else %} 
		    		<tr>
		    		{% endif %} 
		    			<td class="text-center">
							<input type="checkbox" name="selected[]" value="{{ history['gift_history_id'] }}" />
						</td>
		    			<td class="text-center">
		    			{% if (history['order_id']) %} 
							<a href="index.php?route=sale/order/info&user_token={{ user_token }}&order_id={{ history['order_id'] }}" target="_blank">{{ history['order_id'] }}</a>
						{% endif %} 
		    			</td>
		    			<td class="text-center">
							<a href="{{ gift_edit }}&gift_id={{ history['gift_id'] }}">{{ history['name'] }}</a>
		    			<td class="text-center">
		    			{% if (history['customer_id']) %} 
							<a href="index.php?route=customer/customer/edit&user_token={{ user_token }}&customer_id={{ history['customer_id'] }}" target="_blank">{{ history['customer'] }}</a>
						{% else %} 
							{{ history['customer'] }} 
						{% endif %} 
		    			</td>
		    			<td class="text-center">{{ history['total'] }}</td>
		    			<td class="text-center">{{ history['datetime_added'] }}</td>
		    			<td class="text-center">
		    				<button type="button" onclick="confirm('{{ text_confirm }}') ? deleteData(this, 'giftHistory') : false;" class="btn btn-danger" data-toggle="tooltip" title="{{ button_delete }}"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
		    			</td>
		    		</tr>	
		    		{% endfor %} 
		    	{% else %} 
		    		<tr>
		        		<td class="text-center" colspan="7">{{ text_no_results }}</td>
		        	</tr>
		      	{% endif %} 
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-sm-6 text-left">{{ pagination }}</div>
			<div class="col-sm-6 text-right">{{ results }}</div>
		</div>
	</div>
</div>
<script type="text/javascript"><!--
$(function() {
	$('#gifts-history-filter_order_id').autocomplete( {
		'source': function(request, response) {
			$.ajax( {
				url: 'index.php?route=extension/module/membership/autocomplete&user_token={{ user_token }}',
				dataType: 'json',
				type: 'POST',
				data: 'filter_order_id=' +  encodeURIComponent(request) + '&giftHistory=1',
				beforeSend: function () {},
				complete: function () {},
				success: function(json) {
					response($.map(json, function(item) {
						return {
							label: '<i class="fa fa-shopping-cart" aria-hidden="true"></i> ' + item['order_id'],
							value: item['order_id']
						}
					} ));
				}
			} );
		},
		'select': function(item) {
			$(this).val(item['value']);
		}
	} );
	
	$('#gifts-history-filter_name').autocomplete( {
		'source': function(request, response) {
			$.ajax( {
				url: 'index.php?route=extension/module/membership/autocomplete&user_token={{ user_token }}',
				dataType: 'json',
				type: 'POST',
				data: 'filter_gift_name=' +  encodeURIComponent(request) + '&giftHistory=1',
				beforeSend: function () {},
				complete: function () {},
				success: function(json) {
					response($.map(json, function(item) {
						return {
							label: item['name'],
							value: item['name']
						}
					} ));
				}
			} );
		},
		'select': function(item) {
			$(this).val(item['value']);
		}
	} );
	
	$('#gifts-history-filter_customer').autocomplete( {
		'source': function(request, response) {
			$.ajax( {
				url: 'index.php?route=extension/module/membership/autocomplete&user_token={{ user_token }}',
				dataType: 'json',
				type: 'POST',
				data: 'filter_customer=' +  encodeURIComponent(request) + '&giftHistory=1',
				beforeSend: function () {},
				complete: function () {},
				success: function(json) {
					response($.map(json, function(item) {
						return {
							label: '<i class="fa fa-user" aria-hidden="true"></i> ' + item['customer'],
							value: item['customer']
						}
					} ));
				}
			} );
		},
		'select': function(item) {
			$(this).val(item['value']);
		}
	} );

	$('#button-gifts-history-filter').on('click', function() {
		var 
			url = 'index.php?route=extension/module/membership/getGiftsHistory&user_token={{ user_token }}',
			filter_order_id = $('#gifts-history-filter_order_id').val(),
			filter_name = $('#gifts-history-filter_name').val(),
			filter_customer = $('#gifts-history-filter_customer').val();

		if (filter_order_id) {
			url += '&filter_order_id=' + filter_order_id;
		}
		
		if (filter_name) {
			url += '&filter_name=' + encodeURIComponent(filter_name);
		}
		
		if (filter_customer) {
			url += '&filter_customer=' + encodeURIComponent(filter_customer);
		}

		$('#gifts-history').load(url);
	} );
} );	
//--></script>