{% if options or show_price %}
<div class="filter">
	<div class="filter-header">
		<div class="filter-header-button"><i class="icon icon-filter"></i><span>Фильтр товаров</span></div>
		{% if selecteds %}
		<div class="filter-cleaner-items">
			{% for option in selecteds %}
			{% for value in option.values %}
			<button type="button" onclick="location = '{{ value.href }}';" class="filter-cleaner-item" title="Нажмите, чтобы удалить">{{ option.name }}: {{ value.name }}</button>
			{% endfor %}
			{% endfor %}
			{% if selecteds|length > 1 or selecteds|first.values|length > 1 %}
			<button type="button" onclick="location = '{{ link}}';" class="filter-cleaner"><i class="icon icon-cancel-circled-outline"></i><span>{{ text_cancel_all }}</span></button>
			{% endif %}
		</div>
		{% endif %}
	</div>
	<div id="filter-button" class="filter-button">
		<button class="filter-action disabled" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Загрузка.."></button>
	</div>

	<div class="ocf-offcanvas">
	<div class="filter-mobile-handle">
	<button type="button" class"" data-toggle="offcanvas"><i class="fa fa-filter"></i></button>
	</div>
	<div class="ocf-offcanvas-body"></div>
	</div>

	<div class="panel filter panel-default" id="filter">

	 
	<div class="list-filter">
		{% if show_price %}
		<div class="list-filter-price">
			<div class="list-group-item filter-option" data-toggle="popover-price">
				<div class="ocf-option-name">
					{{ text_price }}&nbsp;{{ symbol_left }}
					<span id="price-from">{{ min_price_get }}</span>&nbsp;-&nbsp;<span id="price-to">{{ max_price_get }}</span>{{ symbol_right }}
				</div>
				<div class="ocf-option-values-price">
					<div id="scale-price" class="scale ocf-target" data-option-id="p"
						 data-start-min="{{ min_price_get }}"
						 data-start-max="{{ max_price_get }}"
						 data-range-min="{{ min_price }}"
						 data-range-max="{{ max_price }}"
						 data-element-min="#price-from"
						 data-element-max="#price-to"
						 data-control-min="#min-price-value"
						 data-control-max="#max-price-value">
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		<div class="list-filter-items">
			{% include 'default/template/extension/module/filter/filter_list.twig' %}
		</div>
	</div>
	</div>
</div>
<script type="text/javascript"><!--
$(function() {
 
	var options = {
 
    php: {
      searchButton : {{ search_button ? 'true' : 'false' }},
      showPrice    : {{ show_price ? 'true' : 'false' }},
	    showCounter  : {{ show_counter ? 'true' : 'false' }},
      link         : '{{ link }}',
	    path         : '{{ path }}',
	    params       : '{{ params }}',
	    index        : '{{ index }}'
	  },
    text: {
	    show_all: '{{ text_show_all }}',
	    hide    : '{{ text_hide }}',
	    load    : '{{ text_load }}',
			any     : '{{ text_any }}',
	    select  : '{{ button_select }}'
	  }
	};
 
  $('[data-toggle="offcanvas"]').on('click', function(e) {
    $(this).toggleClass('active');
    $('body').toggleClass('modal-open');
 
  });

  setTimeout(function() {
    $('#filter').filter(options);
  }, 1);
});
//--></script>
{% endif %}