<div class="tabs">
	<div class="container">
		<div class="tabs-category">
			<div class="tabs__content active">
				<ul class="list-unstyled">
				{% for category in categories %}
				<li class="list-unstyled-li">
					<div class="list-unstyled-li-item">
					    <div class="category-item-image">
					        <div style="width:100%;float:left;">
					            <a href="{{ category.href }}">
					                <img src="{{ category.image }}" alt="{{ category.name }}">
					            </a>
					        </div>
					        <div class="category-item-names" style="width:100%;float:left;">
                                <a href="{{ category.href }}">
                                    {{ category.name }}
                                </a>
                            </div>
                        </div>
					</div>
				</li>
                {% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="tabs" style="display:none;">
	<div class="container">
		<div class="tabs-category">
			{% set cats = 0 %}
			{% for category in categories %}
			{% if category.children %}
			<div class="tabs__content active">
				{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
				<ul class="list-unstyled">
				{% for child in children %}
				<li class="list-unstyled-li">
					<div class="list-unstyled-li-item">
					<div class="category-item-image"><a href="{{ child.href }}"><img src="{{ child.image }}" alt=""></a></div>

					<div class="caegory-item-names">
						<a href="{{ child.href }}">{{ child.name }}</a>
					</div>
					
					</div>
				</li>
				{% endfor %}
				</ul>
				{% endfor %}
			</div>
			{% set cats = cats + 1 %}
			{% else %}
			<div class="tabs__content">
				Подкатегорий нет
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>