<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
{% if noindex %}
<meta name="robots" content="noindex,nofollow" />
{% endif %}
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/theme/default/js/jquery.js?v=021" type="text/javascript"></script>
<link href="catalog/view/theme/default/stylesheet/stylesheet.css?v=021" rel="stylesheet" />
<link href="catalog/view/theme/default/js/script.js?v=021" type="text/javascript" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">

 <script src="catalog/view/javascript/membership_nearest.js?v=021" type="text/javascript"></script>
<link href="catalog/view/theme/default/stylesheet/membership_nearest.css?v=021" rel="stylesheet" type="text/css" />

{#
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js?v=021" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css?v=021" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js?v=021" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css?v=021" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/default/stylesheet/stylesheet.css?v=021" rel="stylesheet">
#} 

 
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js?v=001" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>

	<header>
		<div class="container">
		    <div class="flex-header">
		    <ul class="container" style="width: 100%;float: left;">
                <li style="float: left;"><a href="/delivery">Бесплатная доставка по СПБ от 1500 руб.</a></li>
            </ul>
		    </div>
			<div class="flex-header">
				<div class="logo">
					{% if logo %}
					<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
					{% else %}
					<h1><a href="{{ home }}">{{ name }}</a></h1>
					{% endif %}
				</div>
				<div class="search">
					{{ search }}
					<div class="location-header"><span><i class="icon icon-location"></i></span><span class="prmn-cmngr">{{ prmn_cmngr }}</span></div>
				</div>
				<div class="menu_container">
					<div class="mobile_menu">меню</div>
				</div>
				<div class="collback">
					<p><a href="tel:{{ telephone }}" title="Нажмите, чтобы позвонить нам">{{ telephone }}</a></p>
					<p>ежедневно с 10 - 22</p>
				</div>
				<div class="linksdef">
					{% if not logged %}
					<div class="login">
						<a href="{{ login }}" title="Войти в личный кабинет">Вход</a>
						<span class="lines">|</span>
						<a href="{{ register }}" title="Зарегистрировать клиентский аккаунт">Регистрация</a>
					</div>
					{% else %}
					<div class="login">
						<a href="{{ account }}" title="Войти в личный кабинет">Кабинет</a>
						<span class="lines">|</span>
						<a href="{{ logout }}" title="Зарегистрировать клиентский аккаунт">{{ text_logout }}</a>
					</div>
					{% endif %}
				</div>
				<div class="cart">
					<div class="compare">
						<a href="{{ compare }}" title="Товары в сравнениях"><i class="icon icon-exchange"></i>{% if count_compare %}<span class="cart-wishlist-com">{{ count_compare }}</span>{% endif %}</a>
					</div> 
					<div class="wishlist">
						<a href="{{ wishlist }}" title="Избранные товары"><i class="icon icon-heart-empty"></i>{% if text_wishlist %}<span class="cart-wishlist-com">{{ text_wishlist }}</span>{% endif %}</a>
					</div>
					<div class="cart-button">
						{{ cart }}
					</div>
				</div>
			</div>
		</div>
	</header>

	<main>
	{{ menu }}
	<div id="overlay"></div>
 
 <!-- Membership -->
{% if membership_nearest_discount %}
<div id="membership-nearest-discount-panel" style="display: none;">
	<div id="membership-d"></div>
	<div id="membership-nearest-discount-panel-hidden">
		<div id="membership-c-d-t"></div>
		<div id="membership-n-d-t"></div>
	</div>
</div>
{% endif %}
{% if membership_nearest_gift %}
<div id="membership-nearest-gift-panel" style="display: none;">
	<div id="membership-g"></div>
	<div id="membership-nearest-gift-panel-hidden">
		<div id="membership-c-g-t"></div>
		<div id="membership-n-g-t"></div>
	</div>
</div>
{% endif %}    
<!-- / Membership -->
{#
<nav id="top">
  <div class="container">{{ currency }}
    {{ language }}
    <div id="top-links" class="nav pull-right">
      <ul class="list-inline">
        <li><a href="{{ contact }}"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li>
        <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if logged %}
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
            <li><a href="{{ download }}">{{ text_download }}</a></li>
            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}">{{ text_register }}</a></li>
            <li><a href="{{ login }}">{{ text_login }}</a></li>
            {% endif %}
          </ul>
        </li>
        <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a></li>
        <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
        <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}</div>
      </div>
      <div class="col-sm-5">{{ search }}</div>
      <div class="col-sm-3">{{ cart }}</div>
    </div>
  </div>
</header>
{{ menu }}
#}